<%= simple_form_for @listing do |f| %>
  <%= f.input :title, input_html: { class: 'form-control' } %>
  <%= f.input :description, input_html: { class: 'form_big_input form-control' } %>
  <%= f.input :address, input_html: { class: 'form_big_input form-control' } %>
  <%= f.input :price, input_html: { class: 'form-control' } %>
  <%= f.input :max_guests, input_html: { class: 'form-control' } %>

  <%= f.input :keyword_description_list, label: "Type in any keywords to best describe your listing (delimit them using commas)", input_html: { class: 'form-control' } %>
  <label for="pet">Do you have a pet at your listing?</label>
  <%= f.collection_radio_buttons :pet_presence_list, [['Yes', 'Yes'] ,['No', 'No']], :first, :last, id: 'pet' %>
  <br>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>