<div class="container">
  <h1 class="listing_content"><%= @listing.title %></h1>


  <div id="listing_photos_carousel" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag(@listing.listingphotos[0].image.url(:indexdisplay)) %>
      </div>
      <div class="item">
        <%= image_tag(@listing.listingphotos[1].image.url(:indexdisplay)) %>
      </div>
      <div class="item">
        <%= image_tag(@listing.listingphotos[2].image.url(:indexdisplay)) %>
      </div>
    </div>

    <a class="left carousel-control" href="#listing_photos_carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#listing_photos_carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>





  <p class="listing_content">Description: <%= @listing.description %></p>
  <p class="listing_content">Address: <%= @listing.address %></p>
  <p class="listing_content">Price per night: <%= @listing.price %></p>
  <p class="listing_content">Max number of guest allowed: <%= @listing.max_guests %></p>



  <%= form_for @reservation do |form| %>
    <%= form.label :"Start Date" %>
    <%= form.text_field :start, id: 'start' %>
    <%= form.label :"End Date" %>
    <%= form.text_field :end, id: 'end' %>
    <%= hidden_field_tag 'listing_id', @listing.id  %>
    <%= form.submit "Book!", class: "btn btn-primary" %>
  <% end %>



  <%= link_to "Edit", edit_listing_path, class: "btn btn-default" %>
  <%= link_to "Delete", listing_path, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-default" %>


</div>