<div id="myCarousel" class="carousel slide" data-ride="carousel" style="width: 100%;">

  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="videoWrapper">
        <div id="myVideo"></div>

      </div>
      <div class="carousel-caption">   
        <div class="element">
          <div class="sub-element">
    
            <h1 style="color: white;">Welcome, <%= "#{current_user.first_name} #{current_user.last_name}" %></h1>
            <h2>LIVE THERE</h2>
            <p>Book homes from local hosts in 191+ countries and experience a place like you live there</p>

       
          </div>

        </div>

      </div>

    </div>

  </div>

</div>
<br>
<div class="container">

<div class="homepage-search">
  <div class="form-section">
    <div class="row">
      <%= form_for :search, url: search_path, :method => 'get' do |f| %>
        <p>
          <div class="col-md-4"><%= f.text_field :location, placeholder: "Where to?", id: "whereto", class: "form-control"%></div>
          <div class="col-md-2"><%= f.text_field :bookingstartdate, id: 'bookingstartdate', placeholder: "Check-in Date", class: "form-control" %></div>
          <div class="col-md-2"><%= f.text_field :bookingenddate, id: 'bookingenddate', placeholder: "Check-out Date", class: "form-control" %></div>
          <div class="col-md-2"><%= f.select :no_guest, [ '1 Guest','2 Guest','3 Guest','4 Guest','5 Guest','6 Guest','6+ Guest' ], :prompt => 'Guest No.', class: "dropdown-menu" %></div>
          <div class="col-md-2"><%= submit_tag "Search", name: nil, class: "btn btn-default btn-primary" %></div>
        </p>
      <% end %>
    </div>
  </div>
</div>

<div>
<%= form_tag search_index_path, method: :get do %>
      <%= text_field_tag :query, params[:query], class: 'form-control typeahead', autocomplete: "off", placeholder: "Search listings by their titles" %>
      <%= submit_tag "Search", name: nil, class: "btn btn-default btn-primary", style: 'margin-left: 9999px;'%>
  <% end %>
</div>

<div class="all-image">
  <div class="world-image1 grey"><h3>Tokyo</h3></div>
  <div class="world-image2 grey"><h3>Hong Kong</h3></div>
  <div class="world-image3 grey"><h3>Malaysia</h3></div>
  <div class="world-image4 grey"><h3>Sydney</h3></div>
  <div class="world-image5 grey"><h3>Bangkok</h3></div>
  <div class="world-image6 grey"><h3>Paris</h3></div>


</div>
