<!DOCTYPE html>
<html>
<head>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../../assets/font-awesome/css/font-awesome.min.css">
  <%= include_gon %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true  %>

  <%= javascript_include_tag "vendor/modernizr" %>
   <script async src="https://www.youtube.com/iframe_api"></script>

  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
  <!--   <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
  <script type="text/javascript" src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default clearfix" data-offset-top="10">
    <div class="container">
      <div class="navbar-brand">
        <a href="/"><span class="glyphicon glyphicon-home"></span>  PairBnB</a>
        
      </div>
      <% if signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <button class='btn btn-default' id="filterlisting">Filter Listing</button>
          </li>
          <li>
            <%= link_to "Profile", current_user %>
          </li>
          <li>
            <%= link_to "Create New Listing", new_listing_path %>
          </li>
          <li>
            <%= link_to "View Listings", listings_path %>
          </li>
          <li>
            <%= link_to "Sign Out", sign_out_path, method: :delete %>
          </li>
        </ul>


      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "Sign Up", sign_up_path %>
          </li>
          <li>
            <%= link_to "Sign In", sign_in_path %>
          </li>
        </ul>
      <% end %>
    </div>
  </nav>

  <% if signed_in? %>
  <div class="container" id="filterlistingdiv">
    <%= render partial: '/listings/search', object: form_tag %>
  </div>
  <% end %>


<% flash.each do |key, value| %>
  <div class="container">
    <div class="alert">
      <%= value %>
    </div>
  </div>
<% end %>

<%= Gon::Base.render_data({}) %>
  <%= yield %>
</body>

</html>
